{
  "compact": false,
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": 3,
        "bugfixes": true,
        "modules": false
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-modules-commonjs",
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3
      }
    ]
  ],
  "parserOpts": {
    "allowImportExportEverywhere": true,
    "strictMode": true
  },
  "sourceMaps": false
}
