.main-navigation {
	display: block;
	width: 100%;

	a {
		display: block;
		text-decoration: none;
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		@at-root .toggled#{&} {
			display: block;
		}

		li {
			position: relative;
			//&:hover > a,
			//&.focus > a {}

			@include level-two-list;

			&:hover,
			&.focus {
				> ul {
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			//:hover > a,
			//.focus > a {}

			//a:hover,
			//a.focus {}
		}
	}

	//.current_page_item > a,
	//.current-menu-item > a,
	//.current_page_ancestor > a,
	//.current-menu-ancestor > a {}
}

// Small menu.
.menu-toggle {
	display: block;
}
// Hide mobile; switch to web.
@include breakpoint(wordpress) {
	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav {
		&-links {
			display: flex;
		}

		&-previous {
			flex: 1 0 50%;
		}

		&-next {
			text-align: end;
			flex: 1 0 50%;
		}
	}
}
