$size__site-main: 100%;
$size__site-sidebar: 25%;

$size__adminbar--mobile: 48px;
$size__adminbar--desktop: 32px;

$size__site-header: 43px;
$size__site-header--desktop: 73px;

$size__site-logo: 45px;
$size__site-logo--desktop: 61px;
$size__site-logo--rectangle: 14.333px;
$size__site-logo--desktop--rectangle: 19px;
