$font__main: (Avenir, -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, 'Helvetica Neue', sans-serif);
$font__code: (monaco, consolas, 'andale mono', 'DejaVu Sans Mono', monospace);
$font__pre: ('Courier 10 Pitch', courier, monospace);
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__size-logo: 8px;
$font__size-logo--desktop: 10px;

$font__size-logo__agent--desktop: 9px;

$font__weight-regular: 300;
$font__weight-bold: 700;
